body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: #202025;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}